extends ./layout.pug

block content
  h1 Search
  h2 Our Books!

  //- pre=JSON.stringify(searchOptions, null, 4)

  a(href='/books/new') New Book

  form(method="get" action="/search")
    div
      input(type="search" name="search_query" placeholder="search..." value=searchOptions.search_query)
    div
      label
        span fiction
        input(type="radio" name="fiction" value="true"  checked=searchOptions.fiction==='true')
      label
        span non-fiction
        input(type="radio" name="fiction" value="false" checked=searchOptions.fiction==='false')
      label
        span either
        input(type="radio" name="fiction" value=""      checked=searchOptions.fiction==='')

    div
      label
        span Genres:
        select(name="genres" multiple)
          for genre in genres
            option(value=genre.id selected=searchOptions.genres.includes(genre.id+''))= genre.name

    div
      input(type="submit" value="Search")

  table
    thead
      tr
        th ID
        th Title
    tbody
      for book in books
        tr
          td= book.id
          td
            a(href="/books/"+book.id)= book.title

  div
    if page > 1
      a(href="/books?page="+(page-1)) Previous
    a(href="/books?page="+(page+1)) Next
